<div class="container footer">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p>
                Roshini Daruwala | 021 XCXCXC | roshini.daruwala@gmail.com<br />
                Website crafted by <a href="http://goo.gl/8yXVaA" title="Clyde D'Souza">Clyde D'Souza</a> | &copy; A1 Professional Designs<br />
            </p>            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-md-8">
            <div class='cyan'>&nbsp;</div><div class='magenta'>&nbsp;</div><div class='yellow'>&nbsp;</div><div class='key'>&nbsp;</div>
        </div>
        <div class="col-xs-4 col-md-4 text-right">
            <a href="https://twitter.com/share" class="twitter-share-button" {count}  data-related="ClydeDz" data-hashtags="a1pd">Tweet</a>
            <!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> -->
        </div>
    </div>
</div>

