<div ng-controller="MenuController">
    <div class="hidden-md-display hidden-lg-display visible-sm-block visible-xs-block">
        <div>
            <span id="menuToggle" ng-click="setMobileToggle()" ng-class="mobileToggleFlag ? 'active' : ''">
                <i class="fa fa-reorder"></i>
            </span>
        </div>
        <div id="mobileMenu">
            <nav ng-class="mobileToggleFlag ? 'menu menu-open' : 'menu'" id="theMenu">
                <div class='menu-wrap'>
                    <h1><a href="#/">A1 Professional Designs</a></h1><br /><br />
                    <a href="#/" ng-class="menuFlagGlobal==1 ? 'smoothScroll active-menu ' : 'smoothScroll'" >Home</a>
                    <a href="#/about" ng-class="menuFlagGlobal==2 ? 'smoothScroll active-menu ' : 'smoothScroll'">About Us</a>
                    <a href="#/products-and-services" ng-class="menuFlagGlobal==3 ? 'smoothScroll active-menu ' : 'smoothScroll'" >Products and Services</a>
                    <a href="#/contact" ng-class="menuFlagGlobal==4 ? 'smoothScroll active-menu ' : 'smoothScroll'">Contact Us</a>
                </div>
            </nav>
        </div>
    </div>

    <div id="headerSection">
        <div class='header-banner'>
            <div class='col-lg-5 col-md-5'>
                <h1><a href="#/">A1 Professional Designs</a></h1>
            </div>
            <div class='col-lg-7 col-md-7 text-right'>
                <div class='hidden-xs hidden-sm visible-md visible-lg col-md-12 col-lg-12 text-right desktop-menu'>
                    <a href="#/" ng-class="menuFlagGlobal==1 ? 'smoothScroll active-menu ' : 'smoothScroll'" >Home</a>
                    <a href="#/about"  ng-class="menuFlagGlobal==2 ? 'smoothScroll active-menu ' : 'smoothScroll'">About Us</a>
                    <a href="#/products-and-services"  ng-class="menuFlagGlobal==3 ? 'smoothScroll active-menu ' : 'smoothScroll'" >Products and Services</a>
                    <a href="#/contact"  ng-class="menuFlagGlobal==4 ? 'smoothScroll active-menu ' : 'smoothScroll'" >Contact Us</a>
                </div>
            </div>
        </div>
        <div class='space'>
            <div class='container header-content'>
                <div class='row'>
                    <div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center'>
                        <div><img src='assets/a1pd-logo.png' height='80' width='80' class='img img-responsive site-logo' /></div></br>
                    </div>
                </div>
            </div><!-- /container -->
        </div>
    </div>

</div>