<div class="container" ng-controller="ProductsController">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Products and Services</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Do you need to get yourself a business card? Or do you need to print and drop in flyers of your new business? Don't worry. At A1 Professional Designs we cater to all your print needs. Right from business cards to flyers, birthday invitation cards to specialised greeting cards, we do all of this (and more) at the best possible price. Get in touch now!</p>
            <ol type='number'>
                <li><a id="top"></a><a ng-click="scrollTo('businessCards')"  class='service-links'>Business Cards</a></li>
                <li><a ng-click="scrollTo('a4a5printingandcopy')" class='service-links'>A4/A5 Printing and Copying</a></li>
                <li><a ng-click="scrollTo('a3printingandcopy')" class='service-links'>A3 Printing and Copying</a></li>
                <li><a ng-click="scrollTo('lamination')" class='service-links'>Lamination</a></li>
                <li><a ng-click="scrollTo('binding')" class='service-links'>Binding</a></li>
                <li><a ng-click="scrollTo('businessstationery')" class='service-links'>Business Stationery</a></li>
            </ol>

        </div>
    </div>
    <hr />
    <br/>
    <!---business card--->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bs-callout bs-callout-info">
                <a id="businessCards"><h2 class="media-heading">Business Cards</h2></a>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>
                <div class="table-responsive ">
                    <table class="table table-bordered table-condensed" max-width="700px">
                        <thead>
                            <tr>
                                <!--Headings-->
                                <th rowspan="2">Quantity</th>
                                <th colspan="2">Black and white</th>
                                <th colspan="2">Color</th>
                            </tr>
                            <tr>
                                <!--Headings-->
                                <th>Single</th>
                                <th>Double</th>
                                <th>Single</th>
                                <th>Double</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>100</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <td>250</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <td>500</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <td>1000</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <!--Add more rows here if needed--->
                        </tbody>
                    </table>
                </div>
                <p>*280 gsm gloss card</p>
                <p><a href="" class="btn btn-success">Download samples</a>&nbsp;<a ng-click="scrollTo('top')" class="btn btn-default">Back to top</a></p><!--Link to pdf-->
            </div>
        </div>
    </div>
    <!--A5 / A4 size Printing / Copying--->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bs-callout bs-callout-warning">
                <a id="a4a5printingandcopy"><h2 class="media-heading">A5 / A4 size Printing / Copying</h2></a>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>
                <div class="table-responsive ">
                    <!--Table 1-->
                    <table class="table table-bordered table-condensed" max-width="700px">
                        <thead>
                            <tr>
                                <!--Headings-->
                                <th rowspan="2">Quantity</th>
                                <th colspan="2">Black and white</th>
                                <th colspan="2">Color</th>
                            </tr>
                            <tr>
                                <!--Headings-->
                                <th>Single</th>
                                <th>Double</th>
                                <th>Single</th>
                                <th>Double</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!--row1--->
                                <td>100</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row2--->
                                <td>250</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row3--->
                                <td>500</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row4--->
                                <td>1000</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <!--Add more rows here if needed--->
                        </tbody>
                    </table>
                </div>
                <p>*Less than 150gsm paper</p>
                <div class="table-responsive ">
                    <!--Table 2-->
                    <table class="table table-bordered table-condensed" max-width="700px">
                        <thead>
                            <tr>
                                <!--Headings-->
                                <th rowspan="2">Quantity</th>
                                <th colspan="2">Black and white</th>
                                <th colspan="2">Color</th>
                            </tr>
                            <tr>
                                <!--Headings-->
                                <th>Single</th>
                                <th>Double</th>
                                <th>Single</th>
                                <th>Double</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!--row1--->
                                <td>100</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row2--->
                                <td>250</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row3--->
                                <td>500</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row4--->
                                <td>1000</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <!--add more rows here if needed--->
                        </tbody>
                    </table>
                </div>
                <p>*Greater than 150gsm paper</p>
                <p><a href="" class="btn btn-success">Download samples</a>&nbsp;<a ng-click="scrollTo('top')" class="btn btn-default">Back to top</a></p><!--Link to pdf-->
            </div>
        </div>
    </div>
    <!--A3 size Printing / Copying--->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bs-callout bs-callout-info">
                <a id="a3printingandcopy"><h2 class="media-heading">A3 size Printing / Copying</h2></a>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>
                <div class="table-responsive ">
                    <!--Table 1-->
                    <table class="table table-bordered table-condensed" max-width="700px">
                        <thead>
                            <tr>
                                <!--Headings-->
                                <th rowspan="2">Quantity</th>
                                <th colspan="2">Black and white</th>
                                <th colspan="2">Color</th>
                            </tr>
                            <tr>
                                <!--Headings-->
                                <th>Single</th>
                                <th>Double</th>
                                <th>Single</th>
                                <th>Double</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!--row1--->
                                <td>100</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row2--->
                                <td>250</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row3--->
                                <td>500</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row4--->
                                <td>1000</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <!--Add more rows here if needed--->
                        </tbody>
                    </table>
                </div>
                <p>*Less than 150gsm paper</p>
                <div class="table-responsive ">
                    <!--Table 2-->
                    <table class="table table-bordered table-condensed" max-width="700px">
                        <thead>
                            <tr>
                                <!--Headings-->
                                <th rowspan="2">Quantity</th>
                                <th colspan="2">Black and white</th>
                                <th colspan="2">Color</th>
                            </tr>
                            <tr>
                                <!--Headings-->
                                <th>Single</th>
                                <th>Double</th>
                                <th>Single</th>
                                <th>Double</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!--row1--->
                                <td>100</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row2--->
                                <td>250</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row3--->
                                <td>500</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <tr>
                                <!--row4--->
                                <td>1000</td><!--Quantity-->
                                <td>100</td><!--B/W single-->
                                <td>100</td><!--B/W double-->
                                <td>100</td><!--Color single-->
                                <td>100</td><!--Color double-->
                            </tr>
                            <!--add more rows here if needed--->
                        </tbody>
                    </table>
                </div>
                <p>*Greater than 150gsm paper</p>
                <p><a href="" class="btn btn-success">Download samples</a>&nbsp;<a ng-click="scrollTo('top')" class="btn btn-default">Back to top</a></p><!--Link to pdf-->
            </div>
        </div>
    </div>
    <!----Lamination---->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bs-callout bs-callout-warning">
                <a id="lamination"><h2 class="media-heading">Lamination</h2></a>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>
                <div class="table-responsive ">
                    <table class="table table-bordered table-condensed" max-width="700px">
                        <thead>
                            <tr>
                                <th>Quantity</th>
                                <th>A4</th>
                                <th>A3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1-10</td>
                                <td>$ 2.50</td>
                                <td>$ 3.50</td>
                            </tr>
                            <tr>
                                <td>11-20</td>
                                <td>$ 2.50</td>
                                <td>$ 3.50</td>
                            </tr>
                            <tr>
                                <td>21-50</td>
                                <td>$ 2.50</td>
                                <td>$ 3.50</td>
                            </tr>
                            <tr>
                                <td>51-100</td>
                                <td>$ 2.50</td>
                                <td>$ 3.50</td>
                            </tr>
                            <tr>
                                <td>Above 100</td>
                                <td>$ 2.50</td>
                                <td>$ 3.50</td>
                            </tr>
                            <!--Add more rows here if needed--->
                        </tbody>
                    </table>
                </div>
                <p><a href="" class="btn btn-success">Download samples</a>&nbsp;<a ng-click="scrollTo('top')" class="btn btn-default">Back to top</a></p><!--Link to pdf-->
            </div>
        </div>
    </div>
    <!----Binding---->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bs-callout bs-callout-info">
                <a id="binding"><h2 class="media-heading">Binding</h2></a>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>
                <div class="table-responsive ">
                    <table class="table table-bordered table-condensed" max-width="700px">                        
                        <thead>
                            <tr>
                                <th>Size / Type</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1-10mm</td>
                                <td>$ 2.50</td>
                            </tr>
                            <tr>
                                <td>11-20mm</td>
                                <td>$ 2.50</td>
                            </tr>
                            <tr>
                                <td>21-50mm</td>
                                <td>$ 2.50</td>
                            </tr>
                            <tr>
                                <td>51-100mm</td>
                                <td>$ 2.50</td>
                            </tr>
                            <tr>
                                <td>Wired</td>
                                <td>$ 2.50</td>
                            </tr>
                            <!--Add more rows here if needed--->
                        </tbody>
                    </table>
                </div>
                <p><a href="" class="btn btn-success">Download samples</a>&nbsp;<a ng-click="scrollTo('top')" class="btn btn-default">Back to top</a></p><!--Link to pdf-->
            </div>
        </div>
    </div>
    <!----Business stationery---->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bs-callout bs-callout-warning">
                <a id="businessstationery"><h2 class="media-heading">Business stationery</h2></a>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>
                <div class="table-responsive ">
                    <table class="table table-bordered table-condensed" max-width="700px">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>500</th>
                                <th>1000</th>
                                <th>2000</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Letterheadds</td>
                                <td>$ 185</td>
                                <td>$ 325</td>
                                <td>$ 650</td>
                            </tr>
                            <tr>
                                <td>Complimentary slips (single sided color)</td>
                                <td>$ 185</td>
                                <td>$ 325</td>
                                <td>$ 650</td>
                            </tr>
                            <tr>
                                <td>Notepads</td>
                                <td>$ 185</td>
                                <td>$ 325</td>
                                <td>$ 650</td>
                            </tr>
                            <!--Add more rows here if needed--->
                        </tbody>
                    </table>
                </div>
                <p><a href="" class="btn btn-success">Download samples</a>&nbsp;<a ng-click="scrollTo('top')" class="btn btn-default">Back to top</a></p><!--Link to pdf-->
            </div>
        </div>
    </div>
    <!--end--->
</div><!--container-->